# Local backend runtime settings for docker compose
BACKEND_URL=http://localhost:8080

# Twilio (required for phone OTP endpoints)
TWILIO_ACCOUNT_SID=AC9d774357a1df90bf947905b023f7395b
TWILIO_AUTH_TOKEN=46f14bb2755ef59a0c3aca6fbb81a61a
TWILIO_VERIFY_SERVICE_SID=VA25e3e21a814f397b6bbec15d94ebfc05
